* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  position: relative;
}

body {
  overflow-y: auto;
  min-height: 100vh;
}
textarea:focus,
input:focus {
  outline: none;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
footer {
  background: #f1f1f1;
  width: 100%;
  padding: 16px 0px;
  color: #999;
  vertical-align: bottom;
  margin-top: 40px;
  text-align: center;
  /* width: 100%; */
  height: 2.5rem;   
}

.banner {
  height: 500px;
  width: 100%;
  background: #999;
  margin: 20px 0px;
}

.content {
  padding: 20px 0px;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

/* ================================== */
/* Layout page CSS */
/* ================================== */
/*
.tile {
 
}
.tile img {

}
.tile img:hover {
 
}

/* Hint: Notice the position:absolute and z-index properties. */
/* Think about how those in relation to the existing "tile" classes. */
.tile-text {
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/hero.jpg");
    

  /* TODO: MODULE_LAYOUT */
  /* 1. Set a specific height. */
  /* 2. Position and center the image to scale nicely on all screens. */
  height: 50vh;
  width:100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-image input{
  border-radius: 7px;
  height:30px;
  width: 50%;
  padding: 10px;
  border:0px;
}
input:focus {
  border: 0px;
  outline: 0px;
}

.hero-image p {
  font-weight: lighter;
}

.hero-subheading {
  font-size: 24px;
  font-weight: 100;
}
.hero-input {
  width: 80%;
  height: 50px;
  padding: 16px;
  border-radius: 8px;
  border: none;
}

.nav-link {
  margin-right: 36px;
}

.city{
  height:100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.city img{
  height:100%;
  width:100%;
  border-radius: 10px;
  transition: all 0.6s;

}

.city img:hover{
  filter:brightness(0.4);
  transform: scale(1.2);
 
}

.city-container{
  margin:10px 0px;
}

.city-text{
  text-transform: uppercase;
position: absolute;
  z-index:1;
  bottom: 10px;
  left:0px;
  right:0px;
  color:white;
  margin:0px auto;
  text-align:center;
}
/* ================================== */
/* Adventures grid page CSS */
/* ================================== */

.adventure-card {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  border:1px solid #ccc;
  border-radius: 6px;
  text-align: center;
  min-width: 100px;
}
.adventure-card img {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  border-radius: 6px;
  height:250px;
  width: 100%;
  transition: all 0.4s;
  object-fit: cover;

}
.adventure-card img:hover {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  filter:brightness(0.5);
}

.adv-img{
}

/* ================================== */
/* Adventure details page CSS */
/* ================================== */

.adventure-detail-card {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
 border:1px solid #eee;
 border-radius: 2px;
 padding:16px;
 cursor:pointer ;
 transition: all 0.5s;
}

.adventure-card-image {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  height:100%;
  width: 100%;
}
.adventure-card-image:hover {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  filter:brightness(0.5)
}
.experience-content ul li {
  margin-left: 16px;
  padding: 0;
}

@media only screen and (min-width: 992px) {
  /* For desktops phones: */
  #reservation {
    width: 400px;
    position: fixed;
  }
}


